<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <admin-breadcrumb></admin-breadcrumb>
  </div>
  <div class="col-lg-2">

  </div>
</div>
<div class="wrapper wrapper-content animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-content text-center css-animation-box">
          <h1 class="text-navy">
            Cyper editor
          </h1>

          <p>
            Cyper editor for queries. Be sure the neo4j db is running <a target="_blank" href="http://{{::ctrl.hostname}}:7474">http://{{::ctrl.hostname}}:7474</a>.
          </p>

          <div class="hr-line-dashed"></div>

          <div class="row">
            <div class="col-sm-6">
              <div class="row text-center">
                <br/>
              </div>
              <div class="row text-center">
                <div class="col-lg-12">
                  <h5 class="text-navy">Read Query Structure</h5>

                  <div class="listingblock text-left">
                    <pre class="programlisting brush: cypher cm-s-neo"><span
                      class="cm-node">[</span><span class="cm-keyword">MATCH</span>&nbsp;<span
                      class="cm-keyword">WHERE</span><span
                      class="cm-node">]</span>&nbsp;<span class="cm-node">[</span><span
                      class="cm-keyword">OPTIONAL</span>&nbsp;<span
                      class="cm-keyword">MATCH</span>&nbsp;<span class="cm-keyword">WHERE</span><span
                      class="cm-node">]</span>&nbsp;<span class="cm-node">[</span><span class="cm-keyword">WITH</span>&nbsp;<span
                      class="cm-node">[</span><span class="cm-keyword">ORDER</span>&nbsp;<span
                      class="cm-keyword">BY</span><span class="cm-node">]</span>&nbsp;<span
                      class="cm-node">[</span><span
                      class="cm-keyword">SKIP</span><span class="cm-node">]</span>&nbsp;<span
                      class="cm-node">[</span><span
                      class="cm-keyword">LIMIT</span><span class="cm-node">]</span><span
                      class="cm-node">]</span><br/><span
                      class="cm-keyword">RETURN</span>&nbsp;<span class="cm-node">[</span><span
                      class="cm-keyword">ORDER</span>&nbsp;<span class="cm-keyword">BY</span><span
                      class="cm-node">]</span>&nbsp;<span
                      class="cm-node">[</span><span class="cm-keyword">SKIP</span><span
                      class="cm-node">]</span>&nbsp;<span
                      class="cm-node">[</span><span class="cm-keyword">LIMIT</span><span class="cm-node">]</span></pre>
                  </div>
                  </div>
                </div>
              <div class="row text-center">
                <div class="col-lg-12">
                  <textarea class="form-control" rows="10" ng-model="query" id="query"></textarea>
                  <br/>
                  <button class="btn btn-sm btn-white pull-left m-t-n-xs" ng-click="ctrl.cleanQuery()">
                    <strong>Clean</strong></button>
                  <button class="btn btn-sm btn-primary pull-right m-t-n-xs" type="submit" ng-click="ctrl.runQuery()"
                          ng-disabled="ctrl.loadingQuery"><strong>{{ ctrl.loadingQuery ? 'Wait, pls...' : 'Run' }}</strong></button>
                </div>
              </div>
            </div>
            <div class="col-lg-6 text-left">
              <h4 class="m-b-lg text-center">
                Query result ( {{ctrl.timeDelta}}ms)
              </h4>

              <pre>{{ ctrl.data | json }}</pre>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>
</div>
