global
  nbproc 1
  maxconn 100000
  log 127.0.0.1 local0 info
  log 127.0.0.1 local0 notice
  #daemon

defaults
  log global
  mode http
  option httplog
  option dontlognull
  retries 3
  option redispatch
  timeout connect 5s
  timeout queue 5s
  timeout server 30s

listen stats
  bind :8080
  mode http
  stats enable
  stats hide-version
  stats realm Haproxy\ Statistics
  stats uri /hps?12

frontend www-http
  mode http
  timeout client 1h
  bind 0.0.0.0:80
  default_backend static_server_common

  option forwardfor
  option http-server-close
  option http-pretend-keepalive

  #REDIRECT REQUESTS
  capture request  header Referer len 50

############

backend static_server_common
  mode http
  option forwardfor

{{range getvs "/upstreams/default/*"}}
  server {{.}} check
{{end}}
