settings_gapminder*.txt
settings_valor.txt
deployment/deployment_*.json
deployment/build.*.sh
deployment/*.txt
ddf/*
ws-import/*
**/*.js
**/*.js.map
node_modules
package-lock.json
*.log
**/*.log
logs/*.log*
!logs/.gitkeep
