settings_gapminder*.txt
settings_valor.txt
deployment/deployment_*.json
deployment/build.*.sh
deployment/*.txt
ddf/*
ws-import/*
ws-repos/*
package-lock.json
yarn.lock
*.log
**/*.log
logs/*.log*
!**/.gitkeep
test-bb
test
.gitmodules
test.ts
ws.config/default.json
