# WebStroms project files
.idea
# Created by .ignore support plugin (hsz.mobi)
### Node template
# Logs
tmp
logs
*.log
*.js
*.js.map

# Coverage directory used by tools like istanbul
coverage
.nyc_output

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules
samples/humnum-import/data
ws.utils/devinfo.org.import/data

ws.public/index.html
ws.public/dest

dumps
# excel lock files
.~*

# exclude changes of secret-restricted data in environment settings
/ws.config/env

# Directory for GitHub repositories
ws.import/repos
ws.import/diffs

settings_gapminder*.txt
settings_valor.txt
dev
dev.pub
1.json
2.json
clean-env.sh
