# WebStroms project files
.idea

# Logs
*.log*
*.js
*.js.map
*.d.ts

# Coverage directory used by tools like istanbul
coverage
specReports
.nyc_output

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules

dumps
# excel lock files
.~*

# Directory for GitHub repositories
ddf/*
ws-import/*

# forever
forever/*.*
!forever/.gitkeep

# AWS Settings
settings_gapminder*.txt
settings_valor.txt

# GCP keys
dev
dev.pub

#Yarn
yarn.lock

# deployment
deployment/**/tmp/*.*
!deployment/**/tmp/.gitkeep
deployment/**/deployment_*.json
deployment/**/build.*.sh
deployment/**/*.txt

ws.config/travis.pk
