<style class="cp-pen-styles">
    .placeholder {
        position: relative;
        display:block;
        margin:0 auto;
        width:600px;
        height:400px;
        border:1px solid #ccc
    }
</style>
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <admin-breadcrumb></admin-breadcrumb>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <!-- lop over indicatorsv ... -->
                    <div visabi-chart type="bar" version="{{'55d1a613a730536b1b7f2306'}}" indicator="{{'55a91ea84d595c590be57ab4'}}"></div>
                    <div visabi-chart type="line" version="{{'55d1a613a730536b1b7f2306'}}" indicator="{{'55a91ea84d595c590be57ab4'}}"></div>
                    <div visabi-chart type="bubble" version="{{'55d1a613a730536b1b7f2306'}}" indicator="{{'55a91ea84d595c590be57ab4'}}"></div>
                </div>
            </div>
        </div>
    </div>
</div>
