<style class="cp-pen-styles">
    .placeholder {
        position: relative;
        display:block;
        margin:0 auto;
        width:600px;
        height:400px;
        border:1px solid #ccc
    }
</style>
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <admin-breadcrumb></admin-breadcrumb>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div ng-if="ctrl.indicators" ng-repeat="indicator in ctrl.indicators">
                        <h2>{{::indicator.name}}</h2>
                        <div visabi-chart type="bar" version="{{::ctrl.versionId}}" indicator="{{indicator._id}}"></div><br>
                        <div visabi-chart type="line" version="{{::ctrl.versionId}}" indicator="{{indicator._id}}"></div><br>
                        <div visabi-chart type="bubble" version="{{::ctrl.versionId}}" indicator="{{indicator._id}}"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
