<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <admin-breadcrumb></admin-breadcrumb>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">

                    <div ng-if="!ctrl.currentData.length">
                        <p>No data for collection.</p>
                        <a ui-sref="admin.home.publisherCatalogVersions.edit({id: 'new'})" class="btn btn-primary">New</a>
                        <a href ng-click="ctrl.refresh()" class="btn btn-white">Refresh</a>
                    </div>
                    <div ng-if="ctrl.currentData.length">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Publisher</th>
                                    <th>Catalog</th>
                                    <th>Version</th>
                                    <th>
                                        <a ui-sref="admin.home.publisherCatalogVersions.edit({id: 'new'})" class="btn btn-primary">New</a>
                                        <a href ng-click="ctrl.refresh()" class="btn btn-white">Refresh</a>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="item in ctrl.currentData">
                                    <td>
                                        <div>{{::ctrl.publishersMap[item.publisher]}}</div>
                                    </td>
                                    <td>
                                        <div>{{::ctrl.catalogsMap[item.catalog]}}</div>
                                    </td>
                                    <td>
                                        <div>{{::item.version}}</div>
                                    </td>
                                    <td>
                                        <a ui-sref="admin.home.publisherCatalogVersions.edit({id: item._id})" class="btn btn-primary">Edit</a>
                                        <a href ng-click="ctrl.deleteRecord(item._id)" class="btn btn-white">Delete</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <pager total-items="ctrl.totalItems" ng-model="ctrl.paging.currentPage" items-per-page="{{ctrl.limit}}" ng-change="ctrl.pageChanged()"
                               num-pages="ctrl.numPages"></pager>
                        <pre>Page: {{ctrl.paging.currentPage}} / {{ctrl.numPages}}</pre>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
