<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <admin-breadcrumb></admin-breadcrumb>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="page-wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-7">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <a href ng-click="ctrl.refresh(true)" class="btn btn-white">Refresh</a>
                    <div><a ui-sref="admin.home.publishers.dimensions({publisherId: ctrl.publisherId, versionId: ctrl.versionId})">Dimensions</a> ({{ctrl.data.dimensions}})</div>
                    <div><a ui-sref="admin.home.publishers.indicators({publisherId: ctrl.publisherId, versionId: ctrl.versionId})">Indicators</a> ({{ctrl.data.indicators}})</div>
                    <div><a ui-sref="admin.home.publishers.stats({publisherId: ctrl.publisherId, versionId: ctrl.versionId})">Stats</a> ({{ctrl.data.stats}})</div>
                </div>
            </div>
        </div>
    </div>
</div>
