<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <admin-breadcrumb></admin-breadcrumb>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">

                    <div ng-if="!ctrl.currentData.length">
                        <p>No data for collection.</p>
                        <a href ng-click="ctrl.refresh(true)" class="btn btn-white">Refresh</a>
                    </div>
                    <div ng-if="ctrl.currentData.length">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <th><a href ng-click="ctrl.refresh(true)" class="btn btn-white">Refresh</a></th>
                                </thead>
                                <tbody>
                                <tr ng-repeat="item in ctrl.currentData">
                                    <td>
                                        <div>
                                            <a ui-sref="admin.home.publishers.catalogVersionDetails({publisherId: ctrl.publisherId, versionId: item.version})">
                                                {{::item._id.name}}
                                            </a>
                                            <select ng-model="item.version"
                                                    ng-options="item._id as item.name for item in item.versions | orderBy:'name':true">
                                            </select>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
