<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <admin-breadcrumb></admin-breadcrumb>
  </div>
  <div class="col-lg-2">

  </div>
</div>
<div class="page-wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-6">
      <div class="wizard">
        <div class="steps clearfix">
          <ul role="tablist">
            <li role="tab" class="first current error" aria-disabled="false" aria-selected="true">
              <a id="form-t-0" href="#form-h-0" aria-controls="form-p-0">
                <span class="current-info audible">current step: </span>
                <span class="number">1.</span> Account</a>
            </li>
            <li role="tab" class="disabled" aria-disabled="true">
              <a id="form-t-1" href="#form-h-1" aria-controls="form-p-1">
                <span class="number">2.</span> Profile</a>
            </li>
            <li role="tab" class="disabled" aria-disabled="true">
              <a id="form-t-2" href="#form-h-2" aria-controls="form-p-2">
                <span class="number">3.</span> Warning</a>
            </li>
            <li role="tab" class="disabled last" aria-disabled="true">
              <a id="form-t-3" href="#form-h-3" aria-controls="form-p-3">
                <span class="number">4.</span> Finish</a>
            </li>            <li role="tab" class="disabled last" aria-disabled="true">
              <a id="form-t-3" href="#form-h-3" aria-controls="form-p-3">
                <span class="number">4.</span> Finish</a>
            </li>            <li role="tab" class="disabled last" aria-disabled="true">
              <a id="form-t-3" href="#form-h-3" aria-controls="form-p-3">
                <span class="number">4.</span> Finish</a>
            </li>            <li role="tab" class="disabled last" aria-disabled="true">
              <a id="form-t-3" href="#form-h-3" aria-controls="form-p-3">
                <span class="number">4.</span> Finish</a>
            </li>            <li role="tab" class="disabled last" aria-disabled="true">
              <a id="form-t-3" href="#form-h-3" aria-controls="form-p-3">
                <span class="number">4.</span> Finish</a>
            </li>            <li role="tab" class="disabled last" aria-disabled="true">
              <a id="form-t-3" href="#form-h-3" aria-controls="form-p-3">
                <span class="number">4.</span> Finish</a>
            </li>            <li role="tab" class="disabled last" aria-disabled="true">
              <a id="form-t-3" href="#form-h-3" aria-controls="form-p-3">
                <span class="number">4.</span> Finish</a>
            </li>            <li role="tab" class="disabled last" aria-disabled="true">
              <a id="form-t-3" href="#form-h-3" aria-controls="form-p-3">
                <span class="number">4.</span> Finish</a>
            </li>
          </ul>
        </div>
      </div>
      <p>Piping</p>
      <textarea name="js" cols="80" rows="20"
                ng-change="ctrl.onChange()"
                ng-model="ctrl.pipe"></textarea>

      <p ng-if="!ctrl.error">Result</p>
      <pre ng-if="!ctrl.error">{{ctrl.result}}</pre>
      <p ng-if="ctrl.error">Error</p>
      <pre class="bg-danger" ng-if="ctrl.error">{{ctrl.error.toString()}}</pre>
      <pre class="bg-danger" ng-if="ctrl.error">{{ctrl.error.stack}}</pre>
    </div>
    <div class="col-lg-6">
      <p>Preview:</p>
      <hot-table settings="ctrl.settings" datarows="ctrl.rows"
                 class="hot handsontable htRowHeaders htColumnHeaders"></hot-table>
    </div>
  </div>
</div>
