<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <admin-breadcrumb></admin-breadcrumb>
  </div>
  <div class="col-lg-2">

  </div>
</div>
<div class="page-wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-6">
      <button ng-click="ctrl.pipe.createImportStep()">Import +</button>
      <ul>
        <li ng-repeat="step in ctrl.pipe.steps track by $index">
          <span>{{step.displayName}}</span>

          <div class="row">
            <div class="col-lg-6" ng-if="step.name === 'import_file'">
              <ui-select ng-model="step.options.file"
                         on-select="ctrl.runStep(step)"
                         reset-search-input="false">
                <ui-select-match placeholder="Select file">{{$select.selected.name}}</ui-select-match>
                <ui-select-choices repeat="file in ctrl.files track by $index"
                                   refresh="ctrl.refresh(step.type, $select.search)"
                                   refresh-delay="0">
                  <div ng-bind-html="file.name | highlight: $select.search"></div>
                </ui-select-choices>
              </ui-select>
            </div>

            <div class="col-lg-2 btn"
                 ng-class="{'alert-info': step.ready, 'alert-danger': !step.ready}"
                 ng-if="step.ready !== null">{{step.ready === true ? 'Status: ready' : 'Please wait'}}</div>
            <div class="col-lg-2" ng-if="step.ready !== null"><button class="btn btn-success" ng-click="ctrl.previewStep(step)">Preview</button></div>
          </div>
        </li>
      </ul>
<!--      <p>Piping</p>
      <textarea name="js" cols="80" rows="20"
                ng-change="ctrl.onChange()"
                ng-model="ctrl.jspipe"></textarea>

      <p ng-if="!ctrl.error">Result</p>
      <pre ng-if="!ctrl.error">{{ctrl.result}}</pre>
      <p ng-if="ctrl.error">Error</p>
      <pre class="bg-danger" ng-if="ctrl.error">{{ctrl.error.toString()}}</pre>
      <pre class="bg-danger" ng-if="ctrl.error">{{ctrl.error.stack}}</pre>-->
    </div>
    <div class="col-lg-6">
      <p ng-if="ctrl.previews">Previews:</p>

      <!--<hot-table settings="ctrl.settings" datarows="ctrl.rows"-->
                 <!--class="hot handsontable htRowHeaders htColumnHeaders"></hot-table>-->
      <div ng-if="ctrl.previews">
        <tabset>
          <tab ng-repeat="table in ctrl.previews track by $index" heading="{{ ::table.name }}" active="table.active">
          </tab>
        </tabset>
        <div ng-repeat="table in ctrl.previews track by $index" ng-if="table.active">
          <hot-table settings="table.settings" datarows="table.rows" class="zebra hot handsontable htRowHeaders htColumnHeaders"></hot-table>
        </div>
      </div>
    </div>
  </div>
</div>
