<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
      <admin-breadcrumb></admin-breadcrumb>
  </div>
  <!--<div class="col-sm-8">-->
    <!--<div class="title-action">-->
      <!--<a href="" class="btn btn-primary">This is action area</a>-->
    <!--</div>-->
  <!--</div>-->
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="wrapper wrapper-content">
      <div class="middle-box text-center animated fadeInRightBig">
        <h3 class="font-bold">Welcome to {{ mainCtrl.tagline }}</h3>

        <div class="error-desc">
          You can update here any collection document you want. And try other actions:
          get, delete, create.
        </div>
      </div>
    </div>
  </div>
</div>
